label {
    color: hsl(235, 37%, 51%);
    font-size: 12px;
    letter-spacing: 2px;
}

.input-container {
    width: 140px;
    display: flex;
    flex-direction: column;
}

input {
    background: none;
    color: rgb(100, 100, 100);
    letter-spacing: 2px;
    margin: 10px 12px;
    border: 1px solid hsl(235, 37%, 51%);
    border-color: transparent transparent rgb(220, 220, 220) transparent;
    height: 22px;
    text-align: center;
    transition: border 0.4s;
    font-weight: 400;
    width: 120px;
    font-weight: 300;
    margin-top: 0px;

    &:focus {
      outline: none;
      font-weight: 400;
      letter-spacing: 1.9px;
      color: hsl(235, 37%, 51%);
      transition: border 0.3s;
      border-bottom: 1px solid hsl(235, 37%, 51%);
    }
}