html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(to right, hsl(264, 35%, 58%), hsl(235, 37%, 51%));
}

h1 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}

.button-container {
  z-index: 999;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
